:root {
    --bg-color: #fdfdfe;
    --text-color: #070d0d;
    --grey: #929591;
    --accent-1: #ed0dd9; /* fuschia */
    --red: #e50000; /* red */
    --green: #02ab2e; /* kelly green */
    --blue: #1d5dec; /* azul */
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fdfdfe;
        --bg-color: #070d0d;
    }
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 4em;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Noto Sans', 'DejaVu Serif', sans-serif;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
    margin-top: 5px;
}

.long-text {
    text-align: justify;
}

.strikethrough {
    text-decoration: line-through;
}

p.long-text+p.long-text {
    /* text-indent: 1em; */
    margin-top: 0.5em;
}

p>a, li>a {
    color: var(--accent-1);
    text-decoration: none;
}

p>a:hover, li>a:hover {
    text-decoration: underline;
}

#navbar {
    width: 100vw;
    background-color: var(--bg-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#navbar h1 {
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
}

#navbar ul {
    font-size: x-large;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navbar a {
    color: var(--text-color);
    text-decoration: none;
}

#navbar a:hover {
    color: var(--accent-1);
}

#navbar li {
    /* display: inline-block; */
    margin: 5px 0;
    padding: 0 10px;
    border-right: 1px solid var(--text-color);
}

#navbar li:last-child {
    border-right: none;
}

.container {
    width: 80vw;
    margin: 10px 10vw;
}

#top {
    display: flex;
}

.imgcontactpanel {
    width: 25vw;
    padding: 5px 2.5vw;
    text-align: center;
}

.imgcontactpanel img {
    display: inline-block;
    width: 100%;
    max-width: 280px;
    background-color: #fdfdfe;
}

.imgcontactpanel p {
    width: 100%;
    text-align: center;
}

.biopanel {
    width: 55vw;
    padding: 5px;
}

.project-header *:not(.the-header) {
    font-weight: normal;
    font-size: medium;
}

.inline-padder {
    display: inline-block;
    width: 0.5em;
}

.boxed-link {
    display: inline-block;
    padding: 3px 6px;
    color: var(--accent-1);
    border-color: var(--accent-1);
    text-decoration: none;
    font-variant-caps: small-caps;
    height: 100%;
}

.boxed-link:hover {
    padding: 2px 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.pending {
    color: var(--grey) !important;
    border-color: var(--grey) !important;
}

.arxiv {
    color: var(--red);
    border-color: var(--red);
}

.conference {
    color: var(--green);
    border-color: var(--green);
}

.workshop {
    color: var(--blue);
    border-color: var(--blue);
}

.container ul {
    padding: 0 2em;
}

#footer {
    color: var(--grey);
    text-align: center;
    margin: 20px 0;
}

/* readmore only on mobile. Desktop users can just scroll */
input.read-more-state {
    display: none;
}
input.read-more-trigger {
    display: none;
}

@media (max-width: 600px) {
    html {
        scroll-padding-top: 7em;
    }

    #navbar {
        display: block;
        text-align: center;
    }

    #navbar ul {
        justify-content: center;
    }

    .container {
        width: 90vw;
        margin: 5vw;
    }

    #top {
        display: block;
    }

    .imgcontactpanel {
        width: 100%;
        text-align: center;
    }

    .imgcontactpanel img {
        display: inline-block;
        width: 65vw;
    }

    .imgcontactpanel p {
        width: 100%;
        text-align: center;
    }

    .biopanel {
        width: 100%;
    }

    /* readmore is from https://stackoverflow.com/a/31969312 */
    input.read-more-state:not(:checked) ~ div.read-more-wrap {
        max-height: 5em;
        overflow: hidden;
    }

    input.read-more-state:checked ~ div.read-more-wrap {
        max-height: initial;
    }

    input.read-more-state:not(:checked) ~ label.read-more-trigger:before {
        content: "▽";
    }

    input.read-more-state:checked ~ label.read-more-trigger:before {
        content: "△";
    }

    label.read-more-trigger {
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: center;
        font-size: larger;
        color: var(--accent-1);
    }
}